html {
    background-color: white;
}

body {
    text-align: center;
    margin: 0;
}

a {
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
    transition-duration: 1s;
}

.menuBar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.sectionTitle {
    color: black;
    font-size: 450%;
    padding: 30px;
}

.sectionTitle:load

.minorInfoBox {
    margin: 0 auto;
    width: 45%;
    height: 150%;
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

th {
    padding: 10px 0px;
    line-height: 200%;
}
